.forgot {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    padding-top: 5rem;
}



.forgot__content {
    border-radius: 1.5rem;
    padding: 2rem 4rem;
    width: 100%;
    text-transform: lowercase;
    transition: 0.6s ease;
    text-align: left;
    align-items: first baseline;
    display: flex;
    gap: 4rem;

}

.forgot__content_left {
    display: flex;
    flex-direction: column;
    white-space: pre-wrap;
    text-align-last: left;
    text-align: justify;
    width: 50%;
}

.forgot__content_text {
    width: 90%;
}

.forgot__title {
    font-size: 3.6rem;
    margin-bottom: 1rem;
}

.forgot__subtitle {
    font-size: 1.3rem;
    color: var(--text-color);
}

.forgot__back {
    margin-top: 2rem;
    color: var(--accent-color);
    font-size: 1.2rem;
    display: flex;
    text-align: center;
    justify-content: flex-start;
}

.forgot__back i {
    font-size: 1.3rem;
    margin-top: 0.4rem;
}

.forgot__content_link {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}



.forgot__content_right {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.forgot__input {
    display: flex;
    width: 100%;
    padding: 1rem;
}

.forgot__input input {
    padding: 1rem;
    width: 100%;
    background: transparent;
    border-bottom: 1px solid var(--title-color);
}


.forgot__input input:focus {
    outline: 0.3px solid  var(--accent-color);
    background: var(--body-color);
}

.forgot__input input:-webkit-autofill{
    -webkit-box-shadow:200px 200px 100px white inset; 
    box-shadow:200px 200px 100px rgb(251, 252, 244) inset; 
    border-bottom: 0.4px solid var(--text-color);
}

.forgot__button {
    display: flex;
    padding: 1rem;
    justify-content: flex-end;
    
}

.forgot__button-sign {
    padding: 1rem;
    background-color: var(--nav-overlay-color);
    color: var(--container-color);
    border-radius: 1rem;
}