.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: var(--background-color);
    border-bottom: 1px solid var(--border-color);
    padding: 0 2rem;
    height: 7.75vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;

    .navbar__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        .navbar__left {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
            position: relative;
            left: 0;
            width: 100%;
            img {
                height: 10%;
                width: 6%;
                object-fit: cover;
                margin-left: 2rem;
            }
            h1 {
                font-size: 1.5rem;
                font-weight: 600;
                margin-left: 0.5rem;
                font-family: 'El Messiri', sans-serif;
                color: var(--accent-color);
                position: absolute;
                left: 5.5rem;
                bottom: 0.3rem;
                letter-spacing: 0.1rem;
            }
        }
        .navbar__middle {
            display: flex;
            align-items: center;
            justify-content: space-around;
            cursor: pointer;
            width: 45%;
            height: 65%;
            position: relative;
            left: 0;
            border: 1px solid var(--border-color);
            border-radius: 2rem;
            padding: 0 0 0 1rem;

            span {
                font-size: 0.9rem;
                font-weight: 600;
                font-family: 'Noto Sans KR', sans-serif;
                color: var(--title-color);
                border-right: 1px solid var(--border-color);
                padding-right: 0.5rem;
                letter-spacing: 0.1rem;
            }
            p {
                font-size: 0.9rem;
                font-weight: 500;
                font-family: 'Noto Sans KR', sans-serif;
                color: var(--text-color);
                letter-spacing: 0.1rem;
            }
            .navbar__search {
                position: relative;
                background-color: var(--accent-color);
                padding: 0.6rem;
                right: 0.1rem;
                border-radius: 2rem;
                color: var(--container-color);
            }
        }
        .navbar__right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            cursor: pointer;
            position: relative;
            right: 2rem;
            width: 100%;

            .nbr__container {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                height: 100%;

                .nbr__buttons {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    button {
                        font-family: "Noto Sans KR", sans-serif;
                        font-size: 0.9rem;
                        font-weight: 500;
                        color: var(--title-color);
                    }
                }

                .nbr__account {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    height: 100%;
                    width: 33%;
                    border: 1px solid var(--border-color);
                    border-radius: 2rem;
                    padding: 0rem 1rem;
                    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);

                    .navbar__account-icon {
                        height: 2em;
                        width: 2rem;
                        object-fit: cover;
                        border-radius: 50%;
                    }

                    &:hover {
                        box-shadow: 0.1rem 0.1rem 0 0.1rem var(--border-color);
                    }
                }
            }
        }
    }
}

.secnav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: var(--background-color);
    padding: 0 1.25rem;
    height: 7.75vh;
    width: 100%;
    top: 8.75vh;
    left: 0;
    z-index: 100;

    .secnav__container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
        padding: 0 1rem;
        gap: 1rem;
        .sn__icon {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            .sn__icon-icon {
                height: 1.3rem;
                width: 1.3rem;
                object-fit: cover;
            }
            span {
                font-size: 0.9rem;
                font-weight: 500;
                font-family: "Noto Sans KR", sans-serif;
                color: var(--title-color);
                text-transform: capitalize;
            }
        }
    }
}